body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 0px;
  margin: 0px;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 3rem;
    margin-bottom: 3rem;

}
.hero-section h1{
        font-size: 45px;
        margin: 0px;
        text-align: center;
}
.hero-section p{
        font-size: 25px;
        text-align: center;
        margin: 0px;
}
.hero-section img{
    width: 200px;
}

.container {
  background-color: white;
  padding: 30px;
  max-width: 850px;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.whole_table{
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
}

th, td {
  border: 1px solid #b8b4b488;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #e6e6e6;
}

.footer {
  text-align: right;
  margin-top: 30px;
  font-weight: bold;
}

.footer span {
  font-weight: normal;
  font-size: 14px;
}

.table-responsive {
  overflow-x: auto;
}
.footerSection{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.mainFooter{
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 40px;
}
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  table {
    font-size: 12px;
  }

  th, td {
    padding: 6px;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
  .hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .footerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}
